discord
GIMP
BraveSoftware
Signal
obsidian
Code
VSCodium
VirtualBox
Atom/Cache
xfce/desktop
xfce/panel
xfce/terminal
xfce4/
dconf

__pycache__/
qtile/__pycache__/
pulse
libreoffice/4
*.pyc 
user
*.log
*.xml

variety/
Thunar/
